.horizontal-gradient(@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
	background-image: linear-gradient(left, @startColor, @endColor);
}

.vertical-gradient(@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	background-image: -moz-linear-gradient(top, @startColor, @endColor);
	background-image: -ms-linear-gradient(top, @startColor, @endColor);
	background-image: -o-linear-gradient(top, @startColor, @endColor);
	background-image: linear-gradient(top, @startColor, @endColor);
}

.transition-delay(@delay) {
	-webkit-transition-delay: @delay;
	-moz-transition-delay: @delay;
	-o-transition-delay: @delay;
	-ms-transition-delay: @delay;
	transition-delay: @delay;
}

.transition(@prop: all, @time: 150ms, @ease: ease-in-out, @delay: 0ms) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
	.transition-delay(@delay);
}

.scale(@size) {
	-webkit-transform: scale(@size);
	-moz-transform: scale(@size);
	-ms-transform: scale(@size);
	transform: scale(@size);
}

.antialias() {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
}

.aspect-ratio(@width, @height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (unit(@height)/unit(@width)) * 100%;
	}
	
	> * {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
	
}

.text-columns(@n) {
	-webkit-column-count: @n;
	-moz-column-count: @n;
	column-count: @n;
}

.subpixel() {
	-webkit-font-smoothing: subpixel-antialiased !important;
	-moz-font-smoothing: subpixel-antialiased !important;
	font-smoothing: subpixel-antialiased !important;
}

.antialias() {
	-webkit-font-smoothing: antialias !important;
	-moz-font-smoothing: antialias !important;
	font-smoothing: antialias !important;
}

.admin-bar-top() {
    
	.admin-bar & {
		top: 32px;
        
        @media screen and (max-width: 782px) {
            top: 46px;
        }
	}
    
}